---
import { getCollection } from "astro:content";
import { format } from "date-fns";
const blog = await getCollection("blog");
const latest = blog.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
)[0];
---

<section class="max-w-screen-2xl mx-auto px-4">
  <h2 class="text-primary font-poppins font-bold mb-4 text-xl uppercase">
    What's new
  </h2>
  <section class="mb-10">
    <div class="flex gap-10 flex-col lg:flex-row whats-new">
      <div class="max-w-[800px] w-full relative rounded-xl overflow-hidden">
        <img
          src={latest.data.cover}
          alt=""
          class="object-cover aspect-video w-full rounded-xl relative whats-new-img"
        />
        <div class="whats-new-overlay hidden lg:block"></div>
      </div>

      <div class="flex flex-col max-w-3xl justify-center -ml-40 relative z-20">
        <p
          class="text-secondary-foreground font-poppins mb-2 text-xs uppercase font-medium"
        >
          {format(latest.data.date, "MMMM d, yyyy")}
        </p>
        <h3 class="md:text-5xl text-xl font-bold mb-8">{latest.data.title}</h3>
        <p class="font-light text-foreground/50">{latest.data.description}</p>
        <p class="text-primary font-medium mt-4 italic">
          Written by {latest.data.author}
        </p>

        <div class="flex gap-4 mt-4">
          {
            latest.data.tags?.map((tag) => (
              <span class="text-xs font-medium font-poppins text-primary/70">
                {tag}
              </span>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</section>
